/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
				font-family: 'Titillium Web', sans-serif;
				font-weight: 600;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	width: 876px;
	margin: 0 auto;
	}

nav {
	display: inline-block;
	width: 876px;
	margin-bottom: 10px 0px 30px 0px;
	background:;
	height: 60px;
	background:;
}

.nav-links {
	display: inline-block;
	background:;
	width: 692;
}
nav a {
	color:darkgrey;
	text-decoration: none;
	margin-right: 60px;
}

.logo {
	background:;
	width: 184px;
	height: 60px;
	display: inline-block;
	background:;
	vertical-align: middle;
}

#logo-image {
	display: inline-block;
	background:;
	margin-top: 10px;
}

header { 
	width: 876px;
	margin: 20px 0px 40px 0px;
	background:;
}
 
.slogan-container {
	display: inline-block;
	background:;
	width: 436px;
	height: 100%;
	text-align: center;
	font-size: 70px;
	background:;
	line-height: 
}

button {
	width: 150px;
	height: 30px;
	border: solid 1px;
	background: white;
	font-weight: bold;
	vertical-align: top;
}

.circle-image {
	display: inline-block;
	width: 436px;
	height: 100%;
	background:;
	text-align: center;
}

hr {
	border: solid 2px darkgrey;
	margin-bottom: 40px;
}

h2 {
	font-weight: 800;
}

.top-content {
	margin: 30px 0px 30px 0px;
}

.top-content-left {
	display: inline-block;
	width: 430px;
	margin-right: 12px;
}

.top-content-right {
	display: inline-block;
	width: 430px;
}

.bottom-content {
	margin: 30px 0 50px 0;
}

.bottom-content-left {
	display: inline-block;
	width: 33%;
}

.bottom-content-center {
	display: inline-block;
	width: 33%;
}

.bottom-content-right {
	display: inline-block;
	width: 33%;
}

footer {
	text-align: center;
	font-size: .9em;
	margin-top: 40px
}
